
<article role="article" class="article">
  <select
    class="form-select form-select-md mt-3 w-50"
    aria-label=".form-select-lg example"
    (ngModelChange)="albumChange($event)">
      <option value="-1">Select Movie Category</option>
      <option *ngFor="let id of albumIds$ | async" [value]="id">
        {{ id }}
      </option>
  </select>

  <mat-grid-list cols="4" rowWidth="900px" rowHeight="200px" style="width: 900px">
    <mat-grid-tile *ngFor="let item of allMovies$ | async" class="card m-3">
      <mat-card style="width: 300px;">
        <mat-card-header style="margin-top: 70px">
          <mat-card-title role="heading" style="font-size: 14px">{{item.title}}</mat-card-title>
          <mat-card-subtitle role="contentinfo">Album Categroy Id {{item.albumId}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{item.thumbnailUrl}}" role="img" alt="Images from Gallery" style="height: 150px;">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</article>
