<article class="container">
  <article role="form" class="row justify-content-right">
    <div class="button-group">
      <button class="button" (click)="movieChange($event, '2000')">2000's</button>
      <button class="button" (click)="movieChange($event, '1990')">1990's</button>
    </div>

  </article>
  <article class="row">
    <article role="grid" *ngFor="let item of allMovies$ | async" class="card m-12">
      <div class="image">
        <img role="img" width="140" height="208" src="{{item.Poster}}" class="img" alt="Title of Movie {{item.Title}} & IMDB Id is {{item.imdbID}}">
      </div>
      <div role="content" class="content">
        <h1 role="heading">{{item.Title}}</h1>
        <caption class="caption">
          <span class="Rated">
            {{item.Rated}}
          </span>
          <span class="p">{{item.Runtime}}</span>
          <span class="p">{{item.Released}}</span>
        </caption>
        <p>{{item.Plot}}</p>
        <button class="button" name="button" (click)="onClick(item.imdbID)">View on IMDB</button>
      </div>
    </article>
  </article>
</article>
