<!-- /**

  *ngIf="element"
    Boolean: Optional: if you need to show or not show the icon

  type="element.fixFastPass"
    String: Optional: NOT USED except for debugging

  [isActive]="element ? element : ''"
    Boolean: toggles the active and not active icons

  classNamesActive="queueIcons active"
    String: Classes that define active Icons

  classNamesNotActive="icon minus"
    String: Classes that define NOT active Icons

  iconValue="&#57730;"
    String: Icon value

  (click)="refreshData()"
    Function: You can add a function

  text="No records found"
    String: If you want text next to the icon

  textAlign="right"
    String: Text aligned in relation to icon

  tooltip="This is a tooltip"
    String: Text for a tooltip

  tooltipLocation="left"
    String: tooltip location related to icon


  EXAMPLE:
    <app-icons
      *ngIf="element"
      tooltip="this is a tooltip"
      type="element.fixFastPass"
      [isActive]="element && element.fixFastPass ? element.fixFastPass : ''"
      classNamesActive="queueIcons active"
      classNamesNotActive="icon minus"
      iconValue="&#57730;"
      (click)="refreshData()"
      text="No records found"
      textAlign="right"
      tooltipLocation="left"
    >
    </app-icons>

  **/ -->

<!-- TOOLTIP -->
<div role="tooltip" *ngIf="showToolTip; else noToolTip;" [className]="marginAdjuster ? 'tooltip marginAdjuster' : 'tooltip'">
  {{textAlign === 'left' ? text : ''}}
  <i role="img" [className]="isActive ? classNamesActive : classNamesNotActive">
    {{iconValue}}
  </i>
  {{textAlign === 'right' ? text : ''}}
  <span [className]="showToolTip ? tooltipLoc : ''">{{tooltip}}</span>
</div>
<!-- WITHOUT TOOLTIP -->
<ng-template #noToolTip role="img">
  {{textAlign === 'left' ? text : ''}}
  <i role="img" [className]="isActive ? classNamesActive : classNamesNotActive">
    {{iconValue}}
  </i>
  {{textAlign === 'right' ? text : ''}}
</ng-template>
