<!-- <mat-card class="transparent mat-card">
  <mat-grid-list cols="2" rowHeight="1em" class="breadcrumb-date">
    <mat-grid-tile>
      <div class="breadcrumbs">
        <app-breadcrumb
          [isActive]=true
          parentClasses=""
          classNamesActive=""
          classNamesNotActive="t"
          actionLink="linear"
          actionType="_router"
          class=""
          [isDisabled]="disableSubmit"
          breadcrumbsLinks='[
            {"icon": "di-breadcrumb-home-icon", "name": "HOME", "url": "/"},
            {"name": "{{cardLinks[0].toUpperCase()}}", "url": "/{{cardLinks[0]}}"}
          ]'>
        </app-breadcrumb>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="ts-parameter-column">
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<mat-card class="transparent mat-card">
  <mat-grid-list cols="4" rowHeight="1em" class="breadcrumb-date">
    <mat-grid-tile>
      <mat-card style="" [class]="darkClassMode === 'transparent' ? 'transparent example-card matCardMinHeight radius' : darkMode.toLowerCase() + ' example-card matCardMinHeight radius'">
        <mat-card-header>
          <mat-icon>build</mat-icon>
          <mat-card-title> Utilities </mat-card-title>
          <mat-card-subtitle> Click here to navigate to the Utilities </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="simulateBtn" (click)="onClick('web-relays')">
              <mat-icon mat-list-icon>perm_media</mat-icon>
              <div mat-line>Web-Relays</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="simulateBtn" (click)="onClick('files')">
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line>Files</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="simulateBtn" (click)="onClick('dbeacons')">
              <mat-icon mat-list-icon>wifi</mat-icon>
              <div mat-line>DBeacons</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="simulateBtn" (click)="onClick('cast-media')">
              <mat-icon mat-list-icon>radio</mat-icon>
              <div mat-line>Cast-Media</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="height: 322px !important" [class]="darkClassMode === 'transparent' ? 'transparent example-card matCardMinHeight radius' : darkMode.toLowerCase() + ' example-card matCardMinHeight radius'">
        <mat-card-header>
          <mat-icon>filter_tilt_shift</mat-icon>
          <mat-card-title> Areas </mat-card-title>
          <mat-card-subtitle> Click here to navigate to the Areas </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="simulateBtn" (click)="onClick('areas')">
              <mat-icon mat-list-icon>filter_tilt_shift</mat-icon>
              <div mat-line>Areas</div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="height: 322px !important" [class]="darkClassMode === 'transparent' ? 'transparent example-card matCardMinHeight radius' : darkMode.toLowerCase() + ' example-card matCardMinHeight radius'">
        <mat-card-header>
          <mat-icon>my_location</mat-icon>
          <mat-card-title> Locations </mat-card-title>
          <mat-card-subtitle> Click here to navigate to a Locations </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="simulateBtn" (click)="onClick('locations')">
              <mat-icon mat-list-icon>my_location</mat-icon>
              <div mat-line>Locations</div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="height: 322px !important" [class]="darkClassMode === 'transparent' ? 'transparent example-card matCardMinHeight radius' : darkMode.toLowerCase() + ' example-card matCardMinHeight radius'">
        <mat-card-header>
          <mat-icon>router</mat-icon>
          <mat-card-title> Readers </mat-card-title>
          <mat-card-subtitle> Click here to navigate to the Readers </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="simulateBtn" (click)="onClick('readers')">
              <mat-icon mat-list-icon>router</mat-icon>
              <div mat-line>Readers</div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->
