// theme.overrides.sass
// Contains the theme's variables overrides

@import './_colors'
@import '../base/_breakPoints'

html
  // leave here the variables that you want to override, e.g.
  --hover-teal: $darkSlate
  --button-font-family: var(--font-family-medium-theme)
  --button-primary-focus-color: var(--active-dark-blue)
  --checkbox-icon-line-height: 18px
